body{
  background-color: black;
}
.Navbar{
  background-color: white;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 100px;
  padding-bottom:12px;
  padding-left: 80px;
  font-size:x-large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Herodev>h1{
  color: white;

}
.Herodev{

}
.Herodev img{
  width: 100%;
  height: 92vh;
}