body{
  background-color: black;
}
.Navbar{
  background-color: white;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 100px;
  padding-bottom:12px;
  padding-left: 80px;
  font-size:x-large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Herodev{
  position: relative;
  text-align: center;

}
.heroBtn{
  height: 55px;

}

.Hero-center{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.Hero-div2{
display: flex;
justify-content: space-around;
margin: 0 100px;
}
.Herodev img{
  width: 100%;
  height: 92vh;
}
.Herodev input{
  width: 300px;
  height: 55px;
  border:none;
  border-radius: 10px;
}
.Sec1{
  height: 350px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
}